<h1>Articles</h1>


<%= search_form_for @q, url: articles_path do |f| %> 

<%= f.label :title_cont %>
<%= f.search_field :title_cont %>
<br>

<%= f.label :"Search title body" %>
<%= f.search_field :body_cont %>
<br>

<%= f.label :created_at_gteq %>
<%= f.text_field :created_at_gteq %>
<br>

<%= f.label :created_at_lteq %>
<%= f.text_field :created_at_lteq %>
<br>



<%= f.submit %>

<%end%>





<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
      <p>It was published at <%=article.created_at.utc%></p>
    </li>
  <% end %>
</ul>






<%= link_to "New Article", new_article_path %>