<h1>List of all of the categories</h1>





<div class="flickr_pagination">
  <%= will_paginate @category_p, :container => false %>
</div>


<ul>
    <% @category_p.each do |c|%>
    <li><%= c.name %></li>
    <% end %>

</ul>


<div class="flickr_pagination mb-4">
  <%= will_paginate @category_p, :container => false %>
</div> 

<%= link_to "New Category", new_category_path %>

   <li><small><%= pluralize(category.articles.count, "article") %></small></li>